.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
  }
  
  .mainNav ul {
    list-style: none;
    height: 50px;
    margin: 0;
    padding-left: 0;
  }
  
  .mainNav li {
    float: left;
    height: 50px;
  }
  
  .mainNav li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  .mainNav li a:hover {
    background-color: #111;
  }
  
  .mainNav #hamburger {
    float: right;
    display: none;
  }
  
  .mainNav #hamburger img {
    padding: 0;
    width: 20px;
  }
  
  .mainNav #foldmenu {
    right: 8px;
    display: none;
    position: absolute;
    width: 130px;
    background-color: #333;
  }
  
  .mainNav #foldmenu li {
    width: 130px;
  }
  
  @media screen and (max-width: 1000px) {

    .mainNav #listNav li:not(#hamburger){
        display: none;
    }

    .mainNav #hamburger {
      display: block;
    }
  }